@charset "utf-8";
 div#content_menu{margin-bottom:-5px;position: relative;zoom:1;}
 div#content_menu ul {display: inline; height: 1%;position: relative;zoom:1;}
 div#footer_copyright {background: #4a9acb;}
 div#footer_menu {background: #5cb0d8;}
 div#container_1 .node .actions ul.links li.last a {display: inline; padding: 0 10px; margin: 0;}
 div#container_1 .node .actions ul.links li.last {display: inline; padding: 0; margin: 0;}
 div.header,
 div#header_upper input#edit-submit.form-submit,
 div#header_upper .form-item,  div#header_upper .form-sumbit,  div#header_upper .form-item label,
 div.header_body,
 div.header_img,
 div#header_block,
 div#container_1,
 div#content_body,
 div#sidebar_left,
 div#sidebar_right,
 div#container_1 .node img,
 div#container_1 .node .actions ul.links,
 div#container_1 .node .actions ul.links li,
 div#footer_counters,
 div#footer_content,
 div#footer_copyright,
 div#comments .comment_body .picture,  div#comments .comment_body img,
 #comments .side,
 div#content_body .draggable a.tabledrag-handle,
 div.view-content img.imagecache,
 form#user-login-form .item-list,  div.header_body #logo {display:inline;}
 div#footer {height:100px;}
 div#footer_copyright {height:70px;}
 div#content_body .draggable a.tabledrag-handle {position:relative; zoom:1;}
/* PNG fix */
 body{behavior: expression((this.runtimeStyle.behavior = "none") && (this.currentStyle.backgroundImage.toString().toLowerCase().indexOf('.png')>-1) && (this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.currentStyle.backgroundImage.toString().replace('url("','').replace('")','') + "', sizingMethod='crop')", this.runtimeStyle.zoom = 1, this.runtimeStyle.backgroundImage = "none"));}