@charset "utf-8";

div.header {width: 77.9%;}
div#content_menu ul {display: inline; margin-top: 7px;}
div#content_menu {display: inline;}
div#content_body{margin: 2% 0 0 1%; width: auto; zoom: 1; width: 72%; float: right;}
div#container_1{width:73%; margin:0 1% 0 2%;}
div#footer_copyright{float: none;}