/*****************/
/*****global******/
/*****************/

body {
	background: url("images/background.gif") repeat;
	margin:0;
	padding:0;	
	min-width:1024px;
}

h1, h2, h3, h4, h5, h6 {
  	color: #000;
  	font-family: Helvetica, Arial, sans-serif;
  	font-weight: normal;
}

h1 {
  	font-size: 3em;
  	line-height: 1em;
  	margin-bottom: .5em; 
}

h2 {
  	font-size: 2em;
}

h3 {
  	font-size: 1.5em;
}

h4 {
  	font-size: 1.2em;
  	line-height: 1.25em;
  	margin-bottom: 1.25em; 
}

h5 {
  	font-size: 1em;
  	font-weight: bold;
  	margin-bottom: 1.5em; 
}

h6 {
  	font-size: 1em;
  	font-weight: bold;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  	margin: 0;
}

p {
	margin:0;
	padding:0;	
}

strong {font-weight: bold;}
em {font-style: italic;}
.node table tr td {border: 1px solid #000;padding:5px;}
sup {vertical-align:super; font-size: 0.7em;}
sub {vertical-align:sub; font-size: 0.7em;}

a:link, a:visited {
  	color: #fff;
  	outline: none;
  	text-decoration: none;
}

a:focus {
  	outline: none;
}

a:hover, a:active, li a.active {
  	color: #fff;
  	outline: none;
}

ul, li {
	margin: 0;
	line-height:1em;
}

/*****************/
/*****header******/
/*****************/

div.header { 	
	display: table;	
	width:78%;
	float: right;
}

/***********************/
/*****header upper******/
/***********************/

div#header_upper{
	background: url("images/header_top.gif") repeat-x;
	height: 25px;
	font-family: arial;
	overflow: hidden;
	margin-bottom: 15px;
	position: relative;
}

div#header_upper a {
	color: #fff;	
	font-size:12px;
}

div#header_upper .form-submit {
	font-size:10px;
	margin:3px 10px;
}

div#header_upper .block_title {
	display: none;
}

div#header_upper .block_content {
	padding: 0 10px;
}

div#header_upper .form-text  {
	font-size:10px;
	width:150px;
	margin: 2px 10px;
}

form#user-login-form {
	display: table;
}

form#user-login-form .item-list {
	float:left;
}

div#header_upper div.item-list ul {
	padding: 2px;
}

div#header_upper input#edit-submit.form-submit{
	font-size: 10px;
	margin: 3px;
	float: left;
}

div#header_upper input.form-text{background: #50b1df;}

#user-login-form .item-list ul li {
	display: inline;
}

div#header_upper .form-item,
div#header_upper .form-sumbit,
div#header_upper .form-item label {
	display: inline;
	float: left;
	margin:1px 0 0;	
}

div#header_upper .form-item label {
	color: #fff;
	font-weight: normal;
	font-size:12px;
	padding-top: 3px;
}

/**********************/
/*****header menu******/
/**********************/

div#header_menu {
	position: relative;
}

div#header_menu ul {
	overflow: hidden;
	line-height: 0;
}

div#header_menu ul li {
	background:url("images/header_menu.gif") no-repeat scroll left top transparent;
	display:inline-table;
	height:25px;
	margin-left:5px;
	overflow:hidden;
	padding:0 0 0 0.6em;
}

div#header_menu ul li:hover,
div#header_menu ul li.hover {
	background: url("images/header_menu.gif") no-repeat scroll left -30px transparent;
	cursor: pointer;
}

div#header_menu ul li a {
	background:url("images/header_menu_2.gif") no-repeat scroll right top transparent;
	display:table;
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	line-height:15px;
	padding:5px 0.7em 5px 0;
}

div#header_menu ul li a:hover,
div#header_menu ul li:hover a,
div#header_menu ul li.hover a {
	background: url("images/header_menu_2.gif") no-repeat right -30px transparent;
	cursor: pointer;
}

/**********************/
/*****header body******/
/**********************/

div.header_body {
	background: url("images/header_bg.gif") repeat-x bottom;
	float: left;
	width: 100%;
	display: block;
	position: relative;
}

div.header_body .site_attributes {
	left:5%;
	position:absolute;
	top:70px;
	width:70%;	
	display: table;
}

div.header_body #logo { 
	float: left;
}

div.header_body #site_name {
	font-family:Times New Roman;
	margin-top: 20px;
}

div.header_img {
	background:url("images/header_img.jpg") repeat-x scroll 0 0 transparent;
	height:200px;
	width:552px;
	float: right;
}

/**********************/
/****HEADER_BLOCK******/
/**********************/

div#header_block{
	background: url("images/right_sidebar_block_1.gif") repeat-x #bcedfe;
	float: right;
	width:20%;
	min-height: 223px;
	overflow: hidden;
	color: #000;
	position: relative;
	margin-right:2%;
}

div#header_block a {
	color: #000;
}

div#header_block h2 {
	color: #0E7AB3;
}	

/**********************/
/****BLOCK DEFAULTS****/
/**********************/
.block h2 {
	font-size:1.3em;
	font-style:italic;
	margin:0;
	padding:6px 10px;
}

.block .block_content {
	padding:15px;
}

.block ul {
	padding: 0;
}

/**********************/
/*****CONTAINERS*******/
/**********************/

div#container_1 {
	float:left;
	margin:0 1% 1% 2%;
	position:relative;
	width:74%;
}

div#container_1 a {
	color: #000;
}

div#container_1 li {
	line-height: 1.2em;
}

/**********************/
/****CONTENT_MENU******/
/**********************/

div#content_menu {	
	background: url("images/node_body_bl.gif") no-repeat bottom left #fff;
	font-family:Tahoma;
	margin: 0 1% 0 5%;
	display: table;		
	max-width: 94%;	
	position: relative;
	padding-left: 10px;
}

div#content_menu ul li {
	display:inline-table;	
	margin: 0;
	line-height:0.4em;
	border-right: 2px solid #0073af;
	padding:0 8px;
}

div#content_menu ul {
	display: block;
	padding:0 1% 8px 0;
	background: url("images/node_body_br.gif") no-repeat bottom right #fff;
}

div#content_menu li.last {
	border: none;
}

div#content_menu li a {
	color: #0073af;
	font-weight: bold;
	font-size: 11px;
}

div#content_menu li a:hover,
div#content_menu li:hover a {
	text-decoration: underline;
}

/**********************/
/****CONTENT_BODY******/
/**********************/

div#content_body {
	float:left;
	font-family:arial;
	font-size:14px;
	margin:2% 0 2% 1%;
	position:relative;
	width: 73%;
}

div#content_body p {
	margin: 10px 0;
}

div#content_body a {
	color: #0073AF;
	margin: 3px 0;
}

div#content_body a:hover {
	text-decoration: underline;
}

/**********************/
/****SIDEBAR_LEFT******/
/**********************/

div#sidebar_left {
	clear:left;
	float:left;
	font-family:arial;
	font-size:13px;
	margin:2% 1% 2% 0;
	position:relative;
	width:25%;
}

div#sidebar_left .block h2 {
	color: #fff;
}

div#sidebar_left a {
	color: #000;
	font-size:13px;
}

div#sidebar_left .block-1 .block_title,
div#sidebar_left .block-3 .block_title,
div#sidebar_left .block-5 .block_title {
	background: url("images/left_sidebar_block_title.gif") repeat-x left top #16850b;
	border-left: 1px solid #fff;
}

div#sidebar_left .block-1 .block_title_tr,
div#sidebar_left .block-3 .block_title_tr,
div#sidebar_left .block-5 .block_title_tr {
	background: url("images/left_sidebar_block_title_tr.gif") no-repeat right top;
}

div#sidebar_left .block-1 .block_content,
div#sidebar_left .block-3 .block_content,
div#sidebar_left .block-5 .block_content {
	background-color: #99d178;
	margin-bottom:15px;
	border:1px solid #FFFFFF;
	color: #000;
}

div#sidebar_left .block-1 .block_content_bl,
div#sidebar_left .block-3 .block_content_bl,
div#sidebar_left .block-5 .block_content_bl {

}

div#sidebar_left .block-2 .block_title,
div#sidebar_left .block-4 .block_title,
div#sidebar_left .block-6 .block_title {
	background: url("images/left_sidebar_block_title2.gif") repeat-x left top #2c4b64;	
	border-left: 1px solid #fff;
}

div#sidebar_left .block-2 .block_title_tr,
div#sidebar_left .block-4 .block_title_tr,
div#sidebar_left .block-6 .block_title_tr {
	background: url("images/left_sidebar_block_title2_tr.gif") no-repeat right top;	
}

div#sidebar_left .block-2 .block_content,
div#sidebar_left .block-4 .block_content,
div#sidebar_left .block-6 .block_content {
	background-color: #81a8c7;
	margin-bottom:15px;
	border:1px solid #FFFFFF;
	color: #000;
}

div#sidebar_left .block-2 .block_content_bl,
div#sidebar_left .block-4 .block_content_bl,
div#sidebar_left .block-6 .block_content_bl {

}

/**********************/
/****SIDEBAR_RIGHT*****/
/**********************/

div#sidebar_right {
	float:right;
	margin:0 2% 0 1%;
	width:20%;
	position: relative;
}

div#sidebar_right .block {
	background: #f2fafc url("images/right_sidebar_block.gif") repeat-x;
	padding: 10px;	
	color: #000;	
}

div#sidebar_right .block a {
	color: #000;
}

div#sidebar_right .block h2 {
	color: #0e7ab3;
}

/*****************/
/******TABS*******/
/*****************/

ul.primary,
ul.secondary {
	border: none;
	padding: 0;
	margin: 0 0 10px 0;
}

ul.secondary li,
ul.primary li {
	padding: 0 0.1em 0 0;
	border: 0;
}

ul.primary li a,
ul.secondary li a {
	background: url("images/tracker.png");
	border:1px solid #50B1DF;
	color: #000;
}

ul.primary li a:hover{
	background: url("images/tracker2.png");
	border:1px solid #50B1DF;
}

ul.primary li.active a {
	background: url("images/tracker2.png");
	border:1px solid #50B1DF;
}

/*************************/
/******CONTENT_BODY*******/
/*************************/

div#content_body .block {
	position: relative;
}

div#content_body .block_title{
	background: #0d59a5 url("images/node_title.gif") repeat-x left top;	
	overflow: hidden;
	border-left: 1px solid #fff;
	height:30px;
}

div#content_body .block_title_tr {
	background: url("images/node_title_tr.gif") no-repeat right top;	
	padding-left: 10px;
	height:30px;
}

div#content_body .block_content{
	background: #fff;	
	padding: 0;
	display:table;
}

div#content_body .block_content_bl {
	background: url("images/node_body_bl.gif") no-repeat bottom left;
	padding: 10px;
}

#content_body .block_title h2 {
	font-size: 1.1em;
	font-style: italic;	
	margin: 0;
	padding:7px 0;
	color: #fff;
}

div#content_body .block_title h2 a {
	color: #fff;
}


/*****************/
/******NODE*******/
/*****************/

div#container_1 .node {
	margin-bottom: 30px;
	font-size: 14px;
}

div#container_1 .node p {
	font-family:arial;
	font-size:14px;
	line-height:1.4em;
	padding:0.3em 0;
	text-align:justify;
}

div#container_1 .content .field .field-label{
	display: none;
}

div#container_1 #node_bottom {
	background: #fff;
	margin-top: 25px;
}

div#container_1 .node a {
	color: #0073af;	
}

div#container_1 .node_title {
	background: url("images/node_title.gif") repeat-x left top #0d59a4;	
	overflow: hidden;
	border-left: 1px solid #fff;
	padding-left: 2%;
	display:block;
}

div#container_1 .node_title a:hover {
	text-decoration: none;
}

div#container_1 .node_title_tr {
	background: url("images/node_title_tr.gif") no-repeat right top;
}

#container_1 .node_title h2 {
	font-size:1.1em;
	font-style:italic;
	line-height:1.4em;
	margin:0;
	padding:3px 0;
}

div#container_1 .node_title h2 a {
	color: #fff;
	font-weight:bold;
}

div#container_1 .node_submitted {
	background:none repeat scroll 0 0 #DAE2E8;
	border:1px solid #FFFFFF;
	color:#605F5F;
	font-family:arial;
	font-size:12px;
	padding:4px 10px;
}

div#container_1 .node_submitted a {
	color: #0073af;
}

div#container_1 .node img {
	margin: 0 10px 10px 0;
	float: left;
}

div#container_1 .node_body {
	background: #fff;	
}

div#container_1 .node_body_bl {
	background: url("images/node_body_bl.gif") no-repeat bottom left;
	padding: 10px;
}

div#container_1 .meta {
	border-top: 1px solid #dae2e8;
	padding: 10px 0 0 0;
	margin-top:10px;
}

div#container_1 .breadcrumb {display: none;}

div#container_1 .node .actions ul.links {
	float: right;
	clear: both;
	overflow: hidden;
}

div#container_1 .node .actions ul.links li a,
div#container_1 .node .actions ul.links li span {
	padding: 1px 10px;
	color: #0073AF;
}

div#container_1 .node .actions ul.links li {
	color: #aed3e5;
	padding: 0;
	background: url("images/node_footer_4.gif") no-repeat left bottom;		
	display:inline-table;
	float:left;	
	overflow:hidden;
	font-size: 13px;
}

div#container_1 .node .actions ul.links li.first.last,
div#container_1 .node .actions ul.links li.first {
	background: url("images/node_footer_3.gif") no-repeat left bottom !important;	
}

div#container_1 .node .actions ul.links li.first.last span,
div#container_1 .node .actions ul.links li.first.last a {
	background: url("images/node_footer_5.gif") no-repeat right bottom !important;	
}

div#container_1 .node .actions ul.links li.last {
	background: url("images/node_footer_1.gif") no-repeat left bottom #fff;
	border: none;
}

div#container_1 .node .actions ul.links li.last a,
div#container_1 .node .actions ul.links li.last span {
	background: url("images/node_footer_2.gif") no-repeat right bottom;
	color: #0073AF;
}

div#content_top .block {
	display:table;
	margin:0 auto 5px;
	position: relative;
}

div#content_top .block_content,
div#content_top .block_content_bl {
	background: none;
	padding: 0;
}


/*****************/
/*****FOOTER******/
/*****************/

div#footer {
	background: #0161aa url("images/footer_bg.gif") repeat-x;
	min-height: 100px;	
	width: 100%;
	display:table;
	position: relative;
	margin-top: 10px;
}

div#footer_menu {
	background:url("images/footer_menu.png") repeat-x scroll 0 0 transparent;
	height:23px;
	overflow:hidden;
	width:100%;
	position: relative;
}

div#footer_menu ul {
	font-size:14px;
	padding:0.2em 0 0.1em 1em;
}

div#footer_menu ul li {
	border-right:2px solid #FFFFFF;
	display:inline-table;
	margin:1px 0 0;
	padding:0 0.5em;
}

div#footer_menu li.last {
	border: none;
}

div#footer_menu a:hover {
	text-decoration: underline;
}

div#footer_counters {
	float: left;
	width: 15%;
	padding: 2% 1% 0;
}

div#footer_content {
	float: left;
	width: 57%;
	padding: 2% 1% 0;
}

div#footer_content a {
	color: #fff;
}

div#footer_content .block {
	color: #000;
}

div#footer_copyright {
	background:url("images/footer_copyright.png") repeat scroll 0 0 transparent;
	float:right;
	font-family:arial;
	font-size:10px;
	line-height:1.4em;
	margin:0 2%;
	min-height:70px;
	padding:2% 1% 0;
	text-align:center;
	width:18%;
}

/*********************/
/********COMMENT******/
/*********************/

div.comment a {
	color: #0073AF;
	line-height:1.4em;
	font-size: 14px;
}

div.comment p {
	font-size: 14px;
	padding: 0;
	line-height:1.4em;
}

div.comment .comment_title {
	background: url("images/comment_title.gif") repeat-x scroll left top;	
	height: 28px;
	border-left: 1px solid #fff;	
	font-style: italic;
	padding-left: 2%;
}

div.comment .comment_title_tr {
	background: url("images/comment_title_tr.gif") no-repeat scroll right top;
	height: 28px;	
	padding: 4px 0 0;
}

div#comments .comment_title h3 {
	font-size: 1.3em;
	margin: 0;
	color: #fff;
}

div#comments .comment_title h3 a {
	color: #fff;
}

div#comments .submitted {
	background:none repeat scroll 0 0 #C0E1E8;
	border:1px solid #FFFFFF;
	color:#605F5F;
	font-family:arial;
	font-size:12px;
	padding:4px 10px;
	border-bottom: none;
}

div#comments .submitted a {
	color: #0073AF;
}

div#comments .comment_body .picture,
div#comments .comment_body img {
	float: right;
	padding: 0 5px 10px 10px;
}

div#comments .comment_body .smiley-content {
	float: none;
	padding: 0;
}

div#comments .comment_body {
	background: #c0e1e8;
	border: 1px solid #fff;
	padding: 10px;
}

div#comments .comment_body .content {
	display: table;
}

div#comments .comment_footer {
	background: url("images/comment_footer.gif") repeat-x right bottom;	
	border-right: 1px solid #fff;
	height: 29px;
}

div#comments .comment_footer_bl {
	background: url("images/comment_footer_bl.gif") no-repeat left bottom;
	padding: 0 5px;
	height: 29px;
}

div#comments .comment_footer_bl .links {
	display:table;
	float:left;
	padding:3px 0;
}

img#img_quote {
	cursor:pointer;
	margin-left:10px;
	padding-top:6px;
}

/**************************/
/*******COMMENT FORM*******/
/**************************/
form#comment-form  {
	background: #C0E1E8;
	border: 1px solid #fff;	
	padding: 15px;
}

#comments .box {
	background:url("images/comment_title.gif") repeat-x scroll center top transparent;
	margin-top:15px;
	position:relative;
}

#comments .box h2 {
	background:url("images/comment_title_tr.gif") no-repeat scroll right top transparent;
	border-left:1px solid #FFFFFF;
	color: #fff;
	font-size:1.2em;
	font-style:italic;
	height:24px;
	padding:4px 10px 0;
	display: block;
}

#comments .box .form-submit {
	margin: 15px 5px 0 5px;
}

#comments .box h2 a {
	color: #fff !important;
}

#comments .box .grippie {
	display: none;
}

#comments .box .captcha {
	margin-top: 10px;
	clear: both;
}

#comments .box .captcha .description,
#comments .box .captcha legend {
	display: none;
}

#comments .main{
	border-left: 1px solid #fff;
	padding-left: 30px;
	display: table;
}

#comments .resizable-textarea textarea {
	height: 120px;
	min-width: 200px;
}
#comments .side{
  width:250px;
  float:left;
  clear:left;
  margin:0 20px 0 0;
}
#comments .main .form-item,#comments .side .form-item{
  margin:0;
}
#comments .side input.form-text{
  width:100%
}
#comments #guidelink{
  font-size:10px;
  text-decoration:none;
  border-bottom:dashed 1px;
}
#comments .guidelines{
  display:none;
  margin:10px 0 0;
}

/*****************/
/*******POLL******/
/*****************/

div.poll .percent {
	margin-bottom: 10px;
}

div.poll .bar {
	background-color:#FFFFFF;
	border:1px solid #207DBD;
	height:10px;
}

div.poll .bar .foreground {
	background:#207DBD; 
	height: 10px;
}

div.poll .title {
	font-weight: bold;
	margin-bottom: 2%;
}

/************************************/
/*******TRACKER && ADMIN-BLOCK*******/
/************************************/

div#tracker,
div#block-admin-display-form{
	font-family: arial;
	font-size: 14px;
}

div#tracker .views-field-comment-count{
	text-align: center;
}

div#tracker thead {
	background: url("images/node_title.gif") repeat-x top #0d59a5;
	border-left: 1px solid #fff;
}

div#tracker thead a {
	color: #fff !important;
	font-style: italic;
}

div#tracker thead tr th {
	border:1px solid #FFFFFF;
	text-align:center;
	vertical-align:middle;
}


div#tracker tbody tr td {
	border:1px solid #FFFFFF;
	text-align:center;
	vertical-align:middle;
}

div#tracker tr.even,
#block-admin-display-form tr.even {
	line-height:1.2em;
	background: url("images/tracker.png");	
}

div#tracker tr.odd,
#block-admin-display-form tr.odd {
	line-height:1.2em;
	background: url("images/tracker2.png");
}

#block-admin-display-form td, 
#block-admin-display-form th {
	border: none !important;
}

#blocks {
	margin: 2% 0;
}

#blocks td.region {
	color:#000;
	font-family:arial;
	font-style:italic;
	font-weight:bold;
	padding:4px 0;
	text-align:center;
}

#blocks tr.region-message {
	color:#000000;
	font-size:12px;
}

table.sticky-header {
	margin-top:0 !important;
}

#blocks tbody tr.draggable td {
	padding: 0 5px;
}

#blocks tbody tr.draggable td.block {
	width: 60%;
}

/*********************/
/*******ADMIN*******/
/*********************/

div.view div.views-admin-links{
	width: auto !important;
}

div.view div.views-admin-links li a {
	color: #000 !important;
	font-size: 12px ;
}

div.admin .admin-panel {
	background: #fff;
	padding: 0;
	background: #fff url("images/node_title.gif") repeat-x left top;	
	margin-bottom: 15px;
}

div.admin .admin-panel a:hover {
	text-decoration: underline;
}

div.admin .admin-panel h3 {
	background:url("images/node_title_tr.gif") no-repeat scroll right top;
	border-left:1px solid #FFFFFF;
	color:#FFFFFF;
	font-style:italic;
	padding:4px 10px;
	font-size: 1.3em;
}

div.admin .admin-panel p {
	margin: 0;
}

div.admin-panel .description {
	font-size: 12px;
	background:none repeat scroll 0 0 #DAE2E8;
	padding-left: 10px;
	border: 1px solid #fff;	
}

div.admin-panel .body {
	background: url("images/node_body_bl.gif") no-repeat bottom left;
	padding:0;
}

div.admin-panel .body dl.admin-list {
	padding: 5px 10px;
}

div.admin .admin-panel dl.admin-list dt {
	font-size:16px;
	font-weight:bold;
}

div.admin .admin-panel dl.admin-list dd {
	font-size:12px;
	margin-bottom:10px;
	font-style: italic;
}

/*****************/
/*****TABLES******/
/*****************/

tr.even, tr.odd {
	background: none;
	border: none;
}

thead th {
	border: none;
}

div#content_body table {
	margin: 10px 0;
}

div#content_body thead {
	background: url("images/node_title.gif") repeat-x left top #0d59a5;
}

div#content_body thead tr th {
	color: #fff;
	font-style: italic;
	text-align: center;
}

table.system-status-report th, table.system-status-report tr.merge-up td {
	padding-left: 30px !important;
}

div#content_body table td,
div#content_body table th,
div#content_body dl dt,
div#content_body dl dd {
	padding: 5px;
	border:medium none;
}

div#content_body table tr,
div#content_body dl dt {
	line-height:1.2em;
	background: url("images/tracker.png");	
}

div#content_body table tr.odd,
div#content_body dl dd  {
	line-height:1.2em;
	background: url("images/tracker2.png");
}

div#content_body .draggable a.tabledrag-handle {
	float:left;
	margin:-0.4em 0 -0.4em -0.5em !important;
	padding:0.42em 1.5em 0.42em 0.5em;
}



/*****************/
/*****FORUM*******/
/*****************/

#forum thead tr th a {
	color: #fff;
}

#forum tr td.forum {
	background-position:10px 20px;
}

/*****************/
/*******OTHER******/
/*****************/

.clear_both {clear:both;}
div#tabs-wrapper h2 {display: none;}
.item-list .pager {margin: 10px 0;}
.button, .pushbutton, .form-submit {background: #9db9c8;color: #2a485f;margin: 5px 10px;}
.button:hover, .pushbutton:hover, .form-submit:hover {cursor:pointer;}
.item-list ul.pager li {color: #0079ac;margin:0 8px;padding:0;}
.item-list ul.pager li a {color: #000;}
.form-text,html.js .resizable-textarea textarea {background: #dff2f6; border: 1px solid #b0ddee;color: #000;}
.box .tips {display: none}
.block-region {font-family:tahoma;font-size:14px;margin: 0;}
.profile {border: 2px solid #50B1DF; background: url("images/tracker.png");}
div#contact-mail-page .form-item label {display: block;}
div#search-block-form #edit-search-block-form-1-wrapper .form-text{width: 60%;}
form#search-block-form #form-submit {width: 30%;}
.forum-topic-navigation .topic-previous,.forum-topic-navigation .topic-next {width: auto;}
.forum-topic-navigation {margin-top:5px; clear:both;}
#archive-container .selected {border-bottom:4px solid #B0DDEE;}
#archive-container ul {border-bottom:1px solid #B0DDEE;}
div.view-content img.imagecache {float: left; padding: 10px;}
div.views-row {clear: both;display:table;margin-bottom:15px;}
.quote-msg  {background-color:lightBlue;border:1px solid #FFFFFF;margin:1em 2em;padding:1em;}